@model AnnouncementReadOnlyViewModel
@{
    ViewData["Title"] = Model.Announcement.Title + " - " + Model.Announcement.City;
}

<div class="row">
    <div class="col-6 mt-3">
        <img src="@Model.Announcement.ImageFile" style="width:500px; height:350px;" />
        <h4 class="mt-3">@Model.Announcement.Title</h4>
        <h2 class="mt-2"><strong>@Model.Announcement.Value zł</strong></h2>
        <div class="annparagraph mt-3">@Model.Announcement.Body</div>
    </div>
    <div class="col-6 mt-3">
        <div class="card ml-5" style="width:300px">
            <img class="card-img-top" src="/user/img_avatar1.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">@Model.MyAppUserE.UserName</h4>
               @*  <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a> *@
            </div>
        </div>
        <div class="card ml-5" style="margin-top:20px; margin-left:80px; width:300px;">
            <h3 class="ml-4 mt-2"><strong>Adres:</strong></h3><br />
            <p class="ml-4 mt-2">
               <strong>
                    Ulica: @Model.Announcement.Street @Model.Announcement.StreetNumer<br />
                    Miasta: @Model.Announcement.PostCode @Model.Announcement.City
                </strong>
            </p>
        </div> 
    </div>
</div>

